.main {
    display: flex;
    height: 100vh;
  }

  .left {
    position: sticky;
    top: 0;
    left: 0%;
    height: 100%;
    width: 15%;
    background-color: whitesmoke;
    border-right: 1px solid #ddd;
    padding: 20px;
  }

  .right {
    overflow-y: auto;
    height: 100%;
    padding: 20px;
  }
  *
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.logo
{
    height: 111px;
    width: 100%;
    border-bottom: 1px solid black;

}
.logo img 
{
    
    position: relative;
    bottom: 4px;

}
ul{
    list-style: none;
    position: relative;
    top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li{
    margin-top: 10px;
}